.board {
  padding: 16px;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: auto;
  margin-top: 50px;
}

.columnsList {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: max-content;
  min-height: 100%;
}

.addColumnContainer {
  width: 300px;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .board {
    overflow-x: hidden;
  }

  .columnsList {
    flex-direction: column;
    width: 100%;
  }

  .board {
    margin-top: 80px;
  }
}
