.button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #444;
  font-weight: bold;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &.active {
    background-color: #c4ffff;

    &:hover {
      background-color: #c4ffff;
    }
  }
}
